@media (min-width: 400px) {
  body {
    background-color: rgb(40, 60, 80);
  }
}
@media (min-width: 800px) {
  h1 {
    text-align: center;
  }
}
@media (orientation: landscape) {
  article {
    max-width: 50ch;
  }
}
@media (min-width: 200px) {
  h1 {
    background-color: rgb(40, 60, 80);
  }
@media print {
  p {
    font-family: serif;
  }
}
@media (prefers-color-scheme: light) {
  body{ 
    background-color: #DDD;
  }
  h1{
    color: #111;
  }
}
@media (hover: none) and (pointer: coarse) {
a{
  background-color: #212;
  padding: 2px 5px;
}
@media screen (max-width: 800px, min-width: 900px) {
  img{
    display: none;
  }
}
  
    
