.titulo {
    text-align: center;
}
p {
  font-family: serif;
}
p#primer-parrafo {
    background-color: #CEE;
}
a#primer-parrafo {
    border: 1px solid #333;
}
    
ES { 
    color: #062;
}
em {
    color: #933;
}
a {
  border: 1px solid #333;

}

#fuente-parrafo {
  text-align: center;
}
p {
    background-color: rgba(190, 120, 240, 0.6);

}
.compilado {
   color : #062;
   font-weight: bold;
}
  
